@charset "utf-8";

#wrap{
    width:100%;
}

header,main,footer{
    font-family: "나눔 고딕", sans-serif;
    width:100%;
    position: relative;
    font-size: 14px;
}

#MainVisual{
    position: relative;
    width: 100%;
    height:auto;   
}

#MainVisual>a{
    display:block;
    width: 100%;
    height: 600px;
    background: url("../images/main.jpg") no-repeat center / cover fixed;
}

#mainlogo{
    position: absolute;
    top:30%; 
    background: rgba(255, 255, 255, 0.5) url("../images/logo.png") no-repeat center / 300px 60px;
    width: 100%;
    height: 100px;
}

#mainlogo>a>img{ 
    width: 80%;
    position: relative;
   /*  top:15px; */
   top:20%;
    display: block;
    margin:0 auto;
}

#scroll_gnb{
    position:relative;
    width:100%;
    height:auto;
    top:0;
    left:0;
    z-index:9999;
}

#headerin{
    position: relative;
    width:100%;
    height: 100px;
    background: #006699;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    z-index:9999;
}

#blackbg{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.8);
    z-index:99;
    display:none;
}

#gnb{
    position: absolute;
    top:100px;
    right:-100px;
    width: 100%;
    height:auto;
    background:/* #99ccff */#ceebfa; 
    display: none;
    z-index: 9999999;
}

#gnb>ul>li>a{
    position: relative;
    display: block;
    font-size:16px;
    /* text-indent: 10px; */
    padding:10px 0;  
    text-align: center; 
}


#gnb>ul>li>a:after{
    content:"▼";
    display:block;
    width:20px;
    height:20px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:10px;
    color:#458caf;
}

#top_menu{
    display: none;    
}

.depth2{
    display:none;
}

.depth2 a{
    display:block;
    padding:8px;
    font-size:14px;
    text-align: center;
    color:#666
    /* text-indent: 20px; */
}

#searchBar{
    position: absolute;
    top:100px;
    left:0;
    width:100%;
    height:50px;
    background: rgba(255,255,255,0.8);
    display: none;
    z-index:999;
}

#sch{
    position: relative;
    display: block;
    width:80%;
    height: 40px;
    margin: 0 auto;
    border:1px solid #ccc;
    text-indent: 10px;
    top:5px;
    background: rgb(255,255,255);
    color:#000;
}



#headerin>ul{
    display: flex;
   /*  background: aliceblue;  */
    align-items: center;  
    justify-content: space-between;
    width: 40%; 
    max-width: 120px;
 
  /*   margin-right: 10px; */
}

.logo{
    position: relative;
    bottom: 8px;
    max-width:300px;
    margin-left: 20px;
}

.logo>a>img{
    display: block;
    width: 70%;
    height: 100%;
   margin-left:2px; 
}

.navi, .search, .user{
    position: relative;
    width:30px;
    height:30px;
}

.navi>a, .search>a .user>a{
    display: block;
    width:30px;
    height:30px;
}

.navi span, .search span{
    display: block;
    width:30px;
    height:30px;
    margin:0 auto;
}

.fa-bars, .fa-search, .fa-user{
    font-size: 20px;
    color:#fff;
}

/* 메인 */
#top{
    width: 100%;
}

#mor{
    width:100%;
    height:482;
}

#mor>a{
  /*   position: relative; */
    width:100%;
    height:482px;
    display: block;
    background: url("../images/sand.jpg") no-repeat center;
}

#mor>a>div{
    position: relative;
    top:70px;
    margin:0 auto;
    background:rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width:300px;
    height: 300px;
}

 #mor>a>div>p{
    position: relative;
    top:30%;
    text-align: center;
    color:#003366;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
 }


#new{
    background: url("../images/newback.jpg") no-repeat center;
    width: 100%;
    height: 482px;
}

#new>p{
    position: relative;
    top:55px;
    display: block;
    font-size: 24px;
    text-align: center;
}

#new>ul{
    position: relative;
    top:100px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    letter-spacing: -1px;
    width: 90%;
}

#new>ul>li{
    width: 25%;
}

#new>ul>li>a>img{
    width: 100%;
    margin:15px 0; 
}

#bestmenu{
    position: relative;
    bottom: 37px;
    width: 100%;
    height: 754px;
    background: #f7f2ef;
}

#bestmenu>p{
    margin-top:35px;
    font-size: 24px;
    text-align: center;
   
}
#bestmenu>p, #bestmenu>ul{
   position: relative;
   top:80px;
}

#bestmenu>ul>li>a>img{
    width: 100%;
    height: auto;
    display: block;
    margin:10px 0;
}

#bestmenu>ul{
    margin: 0 auto;
    width: 90%; 
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    max-width: 360px;
}

#bestmenu>ul>li{
    /* border:1px solid #000; */
    margin: 20px 0 ;
    width: 40%;
}

#news{
    position: relative;
    bottom:100px;
    width: 100%;
    height: auto;
    background: #f9f9f9;

}

#news>p{
   margin:40px 0;
    text-align: center;
    font-size: 24px;
}

#news>ul{
    width: 80%;
    margin: 0 auto; 
}

#news>ul>li{
    margin:30px auto;
  /*   border:1px solid #ccc; */
    max-width: 330px;
    height: 408px;
}

#news>ul>li:nth-child(2), #news>ul>li:nth-child(4), #news>ul>li:nth-child(6){
    height: 210px;
}

#video{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

#video>iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#news>ul>li>a>img{
    width: 100%;
    height: auto;
}

#news>p, #news>ul{
    position: relative;
    top:75px;
}

.n1,.n2>a>img, .n4>a>img{
    border:1px solid #ccc;
}

#facebook_paris{
    width:100%;
    background: #fff;
}

.face_tit{
    width:100%;
    height:30px;
    background: #fff;
    font-size:14px;
    font-family: sans-serif;
    color: blue;
    font-weight: bolder;
    line-height: 30px;
    text-indent: 20px;
}

.face_contents{
    width:100%;
    height:378px;
    overflow-y: auto;
}

.show_board{
    padding:2px 0;
    font-size:14px;
    font-weight: bold;
    text-indent:5px;
}

#sbfrmae{
    width:300px;
    height:auto;
    border:1px solid #ccc;
    margin:0 auto;
    padding:3px;
}

.sbf_top{
    display:flex;
}

.ft1{position: relative; left:10px; display:block; font-size:14px;}
.ft1_bd{color:blue; font-weight: bold; }
.ft_date{position: relative; left:10px; display:block; font-size:14px;}

.ft_intro{padding:5px 0;}

.ft_hash{padding:5px 0;}

.ft_hash>a{
    color:blue;
    
}

.number>a{
    padding:3px 0;
    display:flex;
    justify-content: space-between;
}

.number>a>span{
    font-size:12px;
}

.gdg{
    border-top:1px solid #ccc;
    padding:5px 0;
    display:flex;
}
.gdg>a{
    display:block;
    width:100px;
    height:30px;
    text-align: center;
    font-size:12px;
    line-height: 9px;
}

.gdg>a>span{
    position: relative;
    display:inline-block;
    width:18px;
    height:18px;
    top:4px;
    right:3px;
}

.gdg>a>span.gd{
    background: url("../images/good.jpg") no-repeat;
}
.gdg>a>span.wr{
    background: url("../images/write.png") no-repeat;
}
.gdg>a>span.ln{
    background: url("../images/link.jpg") no-repeat;
}


.n3{
    border:1px solid #ccc;
    height: 408px; 
    background: #fff;
}
.n3>a, .n5>a{
    display: block;
    padding:5%; 
    margin: 0 auto;
}
.n3>a>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.n3>a>div>img{
    width: 100%;
    position: relative;
 top:20px;
   /*  max-width: 197px;
    max-height: 140px; */
}
.n3>a>ul>li>span, .n5>a>span{
    font-size: 18px;
    font-weight:600;
    color:#005298;
}

.n3>a>ul>li>p, .n5>a>p{
    font-size: 16px;
}
.n3>a>ul>li>p>span{
    color:#006699;
}

.n5{
    border:1px solid #ccc;
    height: 408px;
    background: #fff;
}
.n5>a>img{
    position: relative;
    top:50px;
}
.n6{
    width:80%;
}

#banner{
    /* position: fixed; */
    width: 100%;
    height: 500px;
    background:url("../images/banner.jpg") no-repeat center;
}
#banner>div{
    position: relative;
   left:10%;
    width: 80%;
    max-width: 300px;
    height: 500px;
    background: rgba(0,0,0,0.5);
    color:#fff;  
    /* padding: 7%; */
}

#banner>div>p>span{
    font-size: 22px; 
    margin-bottom: 20px;
}

#banner>div>p{
    padding:15px;
    font-size: 14px;
    line-height: 26px;
}

#banner>div>p>span{
    display: block;
    margin:10px 0;
    padding: 15px;
}

#frash{
    width: 90%;
    margin: 50px auto 0 auto;
}
#frash>ul>li{
    margin-bottom:20px;
}
#frash>ul>li>img{
    width: 100%;
}
#frash>ul>li>p{
    padding:15px 0;
}
#back{
    width: 100%;
    height: 300px;
    background: url("../images/back.png") no-repeat center; 
}

#menu{
    width:100%;
    height: auto;
    background: #e5edf5;  
}

#menu>span{
    display: block;
    font-size: 24px;
    text-align: center;
    padding: 70px 0 50px 0;
}

.mul1, .mul2{ 
    margin:0 auto;
    width: 80%;
    justify-content: space-between; 
    display: flex;
    flex-wrap: wrap;
}

.mul1>li>a>img, .big1>a>img, .mul2>li>a>img, .big2>a>img{
    width: 100%;
    margin: 0 auto;
}

.big1, .big2{
    width: 80%;
    margin:10px auto;
}

.mul1>li, .mul2>li{
    margin: 10px 0;
    width:47%;
}

.hover{
    display: none;
}

#insta{
    margin:0 auto;
    height: 230px;
   
}
#insta>p, #insta>span{
    position: relative;
    top:60px; 
    text-align: center;
    display: block;
}

#insta>span{
    font-size: 20px;
    font-weight:600;
}

#insta>p{
    font-size: 14px;
} 

#instaid{
    font-size: 18px;
    display: block;
}

footer{
    width: 100%;
    background: black;
    height: 450px;
}
#footerin{
    position: relative;
    top:30px;
    width: 90%;
    margin:0 auto;
    color:#fff;
    margin:0 auto;
}

#footerin>ul{
    margin:0 auto;
}
.foot1>a{
    display: block;
    width: 70%;
    margin: 0 auto;
}

.foot1>a>img{
 width:100%; 
}

.foot1>p{
    margin: 30px auto;
    color:#ccc;
}
.info{
    display: flex;
    color:#fff;
   justify-content: center;
}

.info>li>a{
    display: block;
    color:#fff;
    width: 150px;
    justify-content: space-between;
    /* border:1px solid #fff; */
    text-align: center;
    line-height: 32px;
}

.sns{
    position: relative;
    top:50px;
    display: flex;
    justify-content: space-between;
    width: 150px;    
    margin:0 auto;
}

@media all and (min-width:768px){
    #headerin{
        justify-content: space-between;
    }

    #logo>a>img{
        max-width:20%;
    }
    #mainlogo>a>img{
        max-width: 430px;
    }

    #Top{
        display: flex;
    }

    #new>ul>li{
        max-width: 150px;
        display: block;
    }

    #new>ul{
       /*  border:1px solid #000; */
        max-width: 700px;
    }

    #bestmenu>ul>li{
        width: 30%;
    /*     max-width: 204px; */
    }
    
    #bestmenu>ul{
         max-width: 724px;
         position: relative; 
         top:150px;
    }

    #news>ul>li{
         width: 220px; 
      /*    width: 238px;  */
        height: 272px;
    
    }

    #news>ul>li:nth-child(2), #news>ul>li:nth-child(4), #news>ul>li:nth-child(6){
        height: 151px;
    }
    
    #news>ul{
        max-width: 770px;
        align-items: center;
        width: 95%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .n3>a>ul>li>span, .n5>a>span{
        font-size: 16px;
        font-weight:600;
        color:#005298;
    }
    
    .n3>a>ul>li>p, .n5>a>p{
        font-size: 14px;
        letter-spacing: -1px;
    }

    .child>img{
       /*  position: relative;
        bottom: 30px; */
        margin: 0 auto;
        width: 150px;
        height: 105px;
    }

    .ddd>img{
        width: 80px;
        height: 80px;
    }
    .n4, .n5, .n6{
        position: relative;
        bottom:30px;
    }

    .n5{
        bottom:163px;
    }
    #menu{
        height: 1358px;
    }

    #menu>span{
        display: block;
        padding: 130px 0 70px 0;
    }
    

    #menuin1>ul, #menuin2>ul{
        display: flex;
        max-width:724px;
       /*  flex-wrap: wrap; */
       /*  border:1px solid red;   */
        margin: 0 auto;
        justify-content: space-between;
    }

    .mul1, .mul2{ 
        width: 450px;
    }
    
   .mul1{
        margin-left:20px;
    } 

    .mul2{
      margin-right: 15px;
    }

    .big1{
        width: 200px;
    }
    .big2{
        margin-left: 20px; 
    }
    
    .mul1>li>a>img, .big1>a>img, .mul2>li>a>img, .big2>a>img{
        width: 218px;
        height: 219px;
    }

    #frash>ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width:700px ;  
       /*  border:1px solid #000; */
        margin: 0 auto;
    }
    #frash>ul>li{
        max-width: 320px;
        margin: 10px 5px;
    }

    .foot1>a{
        border:1px solid #000;
        max-width: 300px;
    }
    .foot1>p{
        width:700px;
    }

}

@media all and (min-width:1200px){
    #mainlogo{
        max-width: 100%;
        height: 196px;
        top:23%;
    }

    #mainlogo>a>img{
        max-width: 750px;
    }


  #headerin{
      display: none;
      
  }

    #boss{
      
      width:100%;
      height: 100px;
      background: #006699;
      display: flex;
      align-items: center;
      justify-content: space-around;
      box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }

    #gnb{ 
        position: relative;
        background: none;
        display:block !important;
        top:0; /* 모바일에서 80px라고 되어 있는 구성을 초기화시킨다. */
        width: 800px;
    }

    #gnb>ul{
      display: flex;
        justify-content: space-between;
    }
    #gnb>ul>li>a{
        color:#fff;
        font-size: 18px;
        text-align: center;
    }

    #gnb>ul>li>a:after{
        display: none;
    }

    .depth2{
        background: #ceebfa;
        width: 100%;

        
        position: absolute;
        display: none;
        z-index: 99;
        width: 120px;
    
    }

    #top_menu{
        display:block;
        width: 230px;
    }

    #top_menu>ul>li>a{
        color:#ccc;

    }

    #top_menu>ul{
        display:flex;
        justify-content: space-between;

    }
    
    #new>ul>li{
        max-width: 200px;

    }

    #bestmenu>ul>li{
        width: 204px;
        margin: 0 40px 30px 40px;
    }

    #bestmenu>ul>li>a{
        display: block;
        text-align: center;
       
    }
    
    #bestmenu>ul>li>a>img{
        max-width: 204px;
    }

    #bestmenu>ul{
         max-width: 1054px;
        /*  position: relative; 
         top:150px; */
    }

    #news>ul>li{
        width: 330px; 
     /*    width: 238px;  */
       height:408px;
   
   }

   #news>ul>li:nth-child(2), #news>ul>li:nth-child(4), #news>ul>li:nth-child(6){
       height: 210px;
   }
   
   #news>ul{
       max-width: 1054px;
       width: 95%;
   }

   .n3>a>ul>li>span, .n5>a>span{
    font-size: 18px;
    }

    .n3>a>ul>li>p, .n5>a>p{
        font-size: 16px;
    }

    .child>img{
        width: 321px;
        height: 225px;
    }

    .ddd>img{
        width: 80px;
        height: 80px;
    }

    .n4, .n5, .n6{
        position: relative;
        bottom:30px;
    }

    .n5{
        bottom:228px;
    }

    #frash>ul{
        max-width:1053px ;  
       /*  border:1px solid #000; */
    }
    #frash>ul>li{
        max-width: 504px;
    }
    #back{
        margin-top:30px;
    }

    
    #menu{
        height: 1454px;
    }

    #menuin1>ul, #menuin2>ul{
        display: flex;
        max-width:1054px;
        margin: 0 auto;
        justify-content: space-between;
    }

    #menuin2>ul{
        position: relative;
        bottom:-20px;
    }

    #menuin1>ul>li{
      /*  border:1px solid #000; */
       width: 517px;
    }
    .mul1, .mul2{ 
        margin:0;
        width: 517px;
        height: 517px;
       
      justify-content: none;

    }
    .mul1>li, .mul2>li{
        width: 248px;
        height: 248px;
        margin:0;
    }

    .mul1>li:nth-child(3), .mul1>li:nth-child(4){
        position: relative;
        bottom: -10px;
    }

    .mul2>li:nth-child(3), .mul2>li:nth-child(4){
        position: relative;
        bottom: -10px;
    }

    .big1, .big2{
        margin: 0;
    }
    .mul1, .mul2{
        margin-left:0;
    } 

    .mul1>li>a>img, .mul2>li>a>img{
        display: block;
        width: 248px;
        height: 248px;
        margin:0;
    }

    .big1>a>img, .big2>a>img{
        display: block;
        width: 517px;
        height:517px;
        margin:0;
    }

    .hover{
        display: none;
        position: absolute;
        top:0;
        left:0;
        width:248px; 
        height:248px;
        background:rgba(0,0,0,0.6);
        text-align:center;
        color:#fff;
    }

    .mul1>li:hover .hover, .mul2>li:hover .hover, .big1:hover .hover, .big2:hover .hover{
        display:block;
    }

    .big1>a>div, .big2>a>div{
        width: 517px;
        height: 517px;
    }

    .text>span{
        font-size: 20px;
        display: block;
        margin-bottom: 15px;
        font-weight: 600;
    }

    .text>p{
        top:50%;
        font-size: 14px;  
        letter-spacing: -1px;
    }

    .text{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        z-index: 99;
        width: 100%;
    }

    .mul1>li>a, .mul2>li>a, .big1>a, .big2>a{
        position: relative;
    }

    }