@charset "utf-8";

body,html{
    font-size: 14px;
    font-family: "맑은 고딕", sans-serif;
}

#wrap{
    width:100%;
}

header,main,footer{
    width:100%;
    position: relative;
}

header{
    position: fixed;
    z-index: 999;
}
#headerin{
    position: relative;
    width:100%;
    height:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    background: #fff;
}

.navi, .search{
    position: relative;
    width:30px;
    height:30px;
}

.navi{
    left:10px;
}

.search{
    right: 10px;
}

.navi>a, .search>a{
    display: block;
    width:30px;
    height:30px;
}

.navi span, .search span{
    display: block;
    width:30px;
    height:30px;
    margin:0 auto;
}

.fa-bars, .fa-search{
    font-size: 30px;
    
}

.logo1>a>img{
    width: 120px;
    height: 50px;
}

.logo1>a{
    display: block;
    width: 120px;
    height: 60px;
    background:#ccc;
}

#gnb{
    position: fixed;
    left:-100%;
    width: 100%;
    height:100%;
    background:beige; 
    display: none;
    z-index: 999;
}

#gnb>div{
    font-size: 24px;
    font-family: "BankGothic Md BT";
    text-align: center; 
    margin: 10px 0;
}


#gnb>ul>li>a{
    position: relative;
    display: block;
    font-size:16px;
    /* text-indent: 10px; */
    padding:10px 0;  
    text-align: center; 
}
#gnb>ul>li>a:after{
    content:"▼";
    display:block;
    width:20px;
    height:20px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:10px;
    color:brown;
}

.depth2{
    display:none;
}

.depth2 a{
    display:block;
    padding:8px;
    font-size:14px;
    text-align: center;
    color:#666
    /* text-indent: 20px; */
}

#searchBar{
    position: relative;
    width:100%;
    height:50px;
    /* background: #ccc;  */
    display: none;
}

#sch{
    position: relative;
    display: block;
    width:80%;
    height: 40px;
    margin: 0 auto;
    border:1px solid #ccc;
    text-indent: 10px;
    top:5px;
    background: rgba(255,255,255,0.3);
    color:#000;
}

#mainvisual{
    position: relative;
    top: 80px;
    width:100%;
    height:300px;
}

#mainvisual>a>img{
    display: block;
    width: 100%;
    height: 100%;
}

#mainvisual .bx-wrapper{
    border:0;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  bottom: -20px;
}


.slider{
    width:100%;
}

.slider>li>img{
    width: 100%;
    height: 100%;
}


#gall{
    width: 100%;
    height: auto;
    margin-top:100px;

}

#gall>ul{
    display:flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 430px;
}
#gall>p{
 /*    font-family: Arial; */
    width: 90%;
    margin:0 auto;
    text-align: center;
    font-size: 24px;
    margin-bottom:40px;
}
#gall li{
    width:45%;
    height:200px;
    margin:0 auto 20px auto;
}

#gall a{
    display:block;
    width:100%;
    height: auto;
}

#gall img {
    width: 100%;
    height: 200px;
}

#gall>ul>li{
    position:relative;
    height: 200px;
}

#gall>ul>li>a>p{
    width:100%;
    height: 40px;
    position:absolute;
    bottom:0;
    text-align: center;
    background: rgba(0,0,0,0.5);
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    letter-spacing: -1.5px;
}

#gall>ul>li:nth-child(1)>a>p{
    line-height: 40px;
}

#btn0>a{
    position: relative;
    width:30px;
    height: 30px;
    border:1px solid #000;
    border-radius: 50%;
    margin:0 auto;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}


#review{
    width:90%;
    height:auto;
    margin:40px auto 0 auto;
}

#review>ul{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

#review>ul>li>p{
    font-size:24px;
    position: relative;
    right:40px;
}

.r1{
    width:80%;
    height: 100%;
    margin:0 auto;
}

.r1>a>img{
    width: 100%;
    height: auto;
    margin: 30px auto;
}

.r2{
    width:90%;
    height: 100%;
    margin: 0 auto;
}

.r2>a>img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}


#btn>a{
    display:block;
    width: 100px;
    height: 24px;
    line-height:22px;
    font-size: 12px;
    border:1px solid #000;
    text-align:center;
    margin:20px auto;
}

#banner{
    width:100%;
    height: 200px;
    background: #ffff00;
    margin:40px 0;
}

#banner>a{
    display: block;
    width:80%;
    height: auto;
    margin: 0 auto;  
    position: relative;
    top:30px;
}

#banner>a>h3{
   text-align: center;
}

.p1{
    text-align: center;
    font-size: 18px;
    margin-top:20px;
}

.p2{
   
    font-size: 20px;
    line-height: 45px;
    text-align: center;
}

.p3{
    font-size: 14px;
    text-align: center;
}

#hotdeal{
    width: 90%;
    margin:0 auto;
    text-align: center;
}

#hotdeal>img{
    width: 100%;
    border-radius:200px;
}

#hotdeal>h1{
    margin: 20px auto ;
    text-align: center;
}

#hotdeal>p>span{
    margin:20px 0;
    font-size: 18px;
    font-weight:600;
}

#hotdeal>p{
    font-size:14px;
    margin:20px 0;
}

#hotdeal>a{
    display:block;
    width: 100px;
    height: 24px;
    line-height:22px; 
    font-size: 12px;
    border:1px solid #000;
    text-align:center;
    margin:20px auto;
}


#call{
    width: 80%;
    margin: 0 auto;
}

#call>p{
    font-size: 24px;
    text-align: center;
    margin: 60px 0 30px 0;
    letter-spacing: -1px;
}

#call>p>span{
    font-size: 16px;
    color:#666;
}

#call>ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#call>ul>li>p{
    margin:15px 0;
    font-size: 14px;
    letter-spacing: -1px;
}
#callin>ul{
    display: flex;
    margin: 0 auto;
    text-align: center;
    width:190px;
}
#callin{
    margin-top:20px;
}
#callin>ul>li>p>span{
    font-weight:bold;
    border-bottom: 1px solid #000;
}

#footerin1{
    width:100%;
    height: 80px;
    background:#f5f5f5;
    margin-top:60px;
    font-size: 12px;
   
}

#footerin1>ul{
    width:90%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

#footerin1>ul>li{
    padding:8px 8px; 
   
}

#footerin2{
    width: 90%;
    margin:0 auto;
}

#footerin2>p{
    font-size:12px;
    margin:15px 0;
}

#sns{
    width:50%;
    height:50px;
    margin: 0 auto;
}

#sns>ul{
    margin-top:30px;
    display: flex;
    justify-content:space-around;
    align-items: center;
   /*  border:1px solid #000; */
}

#sns>ul>li>a>img{
    width:30px;
    height: 30px;
}