@charset "utf-8";

/* *: 웹 사이트의 전 영역을 의미한다 (아스테리크) */

/* 기본적으로 적용될 css의 구성
1.html 전영역에 기본적으로 들어가있는 여백 구성을 제거
    1) mardin: 바깥 여백을 말한다.
    2) padding : 안쪽 여백을 말한다. */



*{
     margin:0;  
    /* 바깥여백값을제거  */
    padding:0;  
    /* 안쪽여백값을제거 */
}

body{
    font-family: sans-serif;
}

/* /* 
2.a 태그에 밑줄을 제거하자.
    1)text decoreation: 문자의 꾸밈  */
    /* 2)color : 문자의색상 

    글자의 색상표현시 16진수 코드를 활용하거나 rgba 값을 활용하여 표현할수있는데 이때 a (alpha) 의 값을 활용하여 투명도를 적용할수있다
    0~1, 중간값은 (0.1~0.9) */
    

a{
    text-decoration:none; 
    /* a 태그 적용시 발생되는 밑줄을제거 */
    color:#000;
    /* 글자색상을 검정색으로 표현 */

}    

/* 3.리스트 메뉴앞에 특수문자를 제거시키자.
    1) list-style-type : 리스트 앞에 표현되는 특수문자를 제어(다른 부호로 변화,제거)하는 구성   */

ul, ol {
    list-style-type:none; 
    /* 리스트 앞에 특수부호를 제거 */
}
img, input {
    border: 0;
    vertical-align:top;
}
/* 블록영역안에 이미지가 배치될 경우 버그로 인하여 아래에 공백이 생기게 되는데 이때 공백을
제거하기 위해 위의 코드를 작성 */